* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
:root {
  --gold: rgb(195, 168, 13);

  /* dark-theme */
  --color-dark-1: rgb(255, 255, 255);
  --color-dark-2: rgb(151, 151, 151);
  --color-light-1: rgb(0, 0, 0);
  --color-light-2: rgb(11, 11, 11);
  --bg-dark: rgb(0, 0, 0);
  --bg-light: rgb(255, 255, 255);

  /* light theme */
  /* --color-dark-1: rgb(0, 0, 0);
    --color-dark-2: rgb(11, 11, 11);
    --color-light-1: rgb(0, 0, 0);
    --color-light-2: rgb(11, 11, 11);
    --bg-dark: rgb(255, 255, 255);
    --bg-light: rgb(255, 255, 255); */
}

/* .dark{
    background-color: var(--bg-dark);
    color: var(--color-dark-1);
}
.light{
    background-color: var(--bg-light);
    color: var(--color-light-1); 
} */

::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  border-radius: 10px;
  background-color: rgba(195, 168, 13, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* background-color: rgb(195, 168, 13); */
  background-color: #212529;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: var(--bg-dark);
  /* background-color: var(--bg-light);  */
  color: var(--color-dark-1);
  /* color: var(--color-dark-2); */
  line-height: 28px;
}

.contain {
  margin: 0 auto;
}
.pdng {
  padding-top: 110px;
  padding-bottom: 110px;
}

.nav {
  width: 140%;
  height: 150px;
  margin-left: -20%;
  margin-top: -150px;
  position: fixed;
  z-index: 200;
  box-shadow: 0px 80px 80px var(--bg-dark);
  /* box-shadow: 0px 80px 80px var(--bg-light); */
}

.sign {
  margin-top: 160px;
  margin-left: 15%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-dark-1);
  /* color: var(--color-light-1); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bolder;
  font-family: "Sassy Frass", cursive;
  z-index: 100;
}
/* .theme{
    margin-top: 160px;
    margin-right: 15%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:transparent;
    color: var(--color-dark-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    z-index: 100;
    cursor: pointer;
} */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.col,
.col-sm-6,
.col-sm-4 {
  padding: 0 !important;
}

.name {
  font-size: 70px;
  font-weight: 700;
}
.nokta {
  display: inline-block;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background-color: var(--gold);
}

.paragraf {
  text-align: justify;
  line-height: 26px;
  color: var(--color-dark-2);
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
}
.goz-at {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid var(--gold);
  padding: 5px 2px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.goz-at:hover {
  letter-spacing: 3px;
  color: var(--color-dark-1);
}
.scroll-color {
  color: var(--color-dark-1);
}

.pp-mobile-pc {
  height: 101vh !important;
  display: flex !important;
  box-shadow: 0px -80px 60px 0px var(--bg-dark) inset;
  /* background: url(https://cdn.wallpapersafari.com/43/63/t05qKT.jpg); */
  /* background: url(img/nn.jpg); */
  /* background: url(https://wallpaperaccess.com/full/785668.jpg); */
  background: url(img/new/blc-gl.jpg);
  /* background: url(https://static.vecteezy.com/system/resources/previews/002/534/035/original/white-golden-shining-luxury-background-design-free-vector.jpg); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.pp-mobile-pc .contain {
  display: flex;
}
.pp-pc .img {
  background: url(img/p.jpg);
  /* box-shadow: inset 0px 0px 50px 50px rgb(0 0 0); */
  /* box-shadow: inset 0px -50px 50px 0px black;
    box-shadow: inset -8px -20px 20px 0px rgb(0 0 0); */
  /* box-shadow: inset -13px -20px 50px 10px var(--bg-dark); */
  box-shadow: inset 0px 0px 16px 8px var(--bg-dark);
  /* box-shadow: 0px 20px 20px 0px black; */
  background-size: cover;
  background-position: top center;
  /* height: 500px;
    width: 100%; */
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 30px;
  margin: auto;
  /* transform: rotate(-21deg); */
  transform: rotate(-3deg);
}

.pc-none {
  display: none;
}
.mobile-none {
  display: block;
}
.scroll-div {
  display: flex;
  justify-content: start;
}
.ort {
  display: flex !important;
  justify-content: center !important;
}
h3 {
  line-height: 50px;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  padding-right: 30px;
}
h5 {
  color: var(--gold);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.kapsa-ara {
  background: rgba(0, 0, 0, 0.8);
}
.ara .contain {
  padding: 70px 0;
}
.ara {
  margin: 50px 0;
  background: url(img/chesss.jpeg);
  background-size: cover;
  background-position: bottom;
  box-shadow: 0px -20px 50px var(--bg-dark) inset;
}
.ara h5 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 16px 0;
  color: var(--color-dark-1);
}
.ara h6 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 3px;
  color: var(--color-dark-2);
  text-transform: capitalize;
}
.row-2 {
  padding-top: 24px;
}

#first {
  /* background: url(img/new/blc-gl.jpg); */
  background-size: cover;
  background-position: center;
}
.projects img {
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.projects img:hover {
  transition: all 0.3s;
  opacity: 0.7;
  transform: scale(98%);
}

footer {
  box-shadow: 0px 30px 30px var(--bg-dark) inset;
  height: auto;
  /* background-image: url(img/anakart.jpg); */
  background: url(img/new/gl.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}
.finish {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Sassy Frass", cursive;
  background: transparent;
  padding: 50px 0;
}
.finish-built {
  font-size: 14px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  background: transparent;
  padding: 0 0 50px 0;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
}
.opacity {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: -10px -20px 30px 20px rgb(0 0 0 / 90%);
}
.end {
  width: 100%;
}
.end-ort {
  width: 55%;
  margin: 0 auto;
}
.pd {
  padding-left: 10px;
  cursor: pointer;
  color: var(--color-dark-1);
}

@media (max-width: 576px) {
  .pp-mobile-pc {
    display: none !important;
  }
  .contain {
    width: 87%;
    /* margin-bottom: 80px; */
  }
  .pdng {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mobile-none {
    display: none;
  }
  .pc-none {
    display: block;
  }
  .sign {
    font-size: 47px;
  }

  header .contain {
    height: 101vh;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .img_pp {
    position: absolute;
    top: -8vh;
    right: 20px;
    background: url(img/p.jpg);
    background-size: cover;
    background-position: top center !important;
    /* height:290px;
        width: 220px; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: -1;
    /* box-shadow: inset -8px -20px 20px 0px var(--bg-dark); */
    box-shadow: inset 0px 0px 8px 4px var(--bg-dark);
    /* transform: rotate(-21deg); */
    transform: rotate(-3deg);
  }

  .pp-mobile {
    box-shadow: 0px -80px 60px 0px var(--bg-dark) inset;
    /* background: url(https://cdn.wallpapersafari.com/43/63/t05qKT.jpg); */
    /* background: url(img/nn.jpg); */
    /* background: url(https://wallpaperaccess.com/full/785668.jpg); */
    background: url(img/new/blc-gl.jpg);
    /* background: url(https://static.vecteezy.com/system/resources/previews/002/534/035/original/white-golden-shining-luxury-background-design-free-vector.jpg); */
    background-size: cover;
    background-position: center !important;
    width: 100%;
  }
  .hi {
    font-size: 20px;
    /* color: rgb(227, 227, 227); */
  }
  .name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .nokta {
    height: 8px;
    width: 8px;
  }
  .title-ort {
    text-align: center;
  }
  .scroll-div {
    justify-content: center;
    padding-bottom: 30px;
  }
  .pd {
    padding-left: 4px;
  }
  h3 {
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 40px;
    font-size: 34px;
    text-align: center;
    padding-right: 0;
    padding-top: 30px;
  }
  h5 {
    color: var(--gold);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  #first h5 {
    padding-top: 30px;
  }
  .ara {
    text-align: center;
  }
  .recent {
    padding-bottom: 40px !important;
  }
  .row-2 {
    padding-top: 0;
  }
  .projects img:hover {
    transition: all 0.3s;
    opacity: 1;
    transform: scale(100%);
  }
  footer {
    /* background-image: url(img/anakartt.jpeg); */
    /* background: url(img/new/gl2.jpg); */
    /* background: url(img/new/gl.webp); */
    /* background-size:auto; */
    /* background-size: cover; */
    /* background-position: top right; */
    /* background-position: center; */
    margin-top: 0px;
  }
  .finish {
    font-size: 30px;
    padding: 30px 0;
    font-weight: bolder;
  }
  .finish-built {
    font-size: 12px;
  }
  .end-ort {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 576.2px) and (max-width: 768px) {
  .contain {
    width: 90%;
  }
  .pp-pc .img {
    height: 240px;
    width: 240px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .contain {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .contain {
    width: 66%;
  }
  .end-ort {
    width: 34%;
    margin: 0 auto;
  }
  .pp-pc .img {
    height: 340px;
    width: 340px;
  }
}
